*{
    margin: 0;
    padding: 0;
}
header {
    background-color: black;
    color: white;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}
.tour {
    text-align: center;
    margin-top: 20px;
}
.tour h2 {
    text-align: center;
}

.tour-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tour-row {
    padding-top: 20px;
    border-bottom: 1px solid black;
    width: 50%;
}   